{port_env, [
        {"EXE_LDFLAGS", "-L/usr/local/lib -llxc -lutil $EXE_LDFLAGS"},
        {"EXE_CFLAGS", "$EXE_CFLAGS -I/usr/local/include"}
        ]}.

{port_specs, [{"priv/erlxc", [
    "c_src/erlxc.c",
    "c_src/erlxc_cmd.c",
    "c_src/erlxc_term.c",
    "c_src/erl_posix_str.c"
    ]}]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
