{port_env, [
        {"EXE_LDFLAGS", "$ERLXC_LDFLAGS -lpthread -llxc -lutil $EXE_LDFLAGS"},
        {"EXE_CFLAGS", "$EXE_CFLAGS $ERLXC_CFLAGS"}
        ]}.

{port_specs, [
    {"priv/erlxc", [
        "c_src/erlxc.c",
        "c_src/erlxc_cmd.c",
        "c_src/erlxc_term.c"
    ]},
    {"priv/erlxc_exec", [
        "c_src/erlxc_exec.c"
    ]}
]}.

{pre_hooks, [
    {compile, "bin/erlxc_cmd.sh c_src/erlxc_cmd.proto > c_src/erlxc_cmd.h"},
    {compile, "bin/liblxc.escript src/liblxc.erl c_src/erlxc_cmd.proto"}
]}.

{clean_files, [
    "c_src/erlxc_cmd.h",
    "src/liblxc.erl"
]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
